* {
    padding: 0;
    margin: 0;
}

.registered h3 {
    color: rgb(25, 95, 25);
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman';
}

.login-page {
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(logo1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    margin: 2% auto;
    padding: 10px;
    overflow: hidden;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: absolute;
    margin-left: 120px;
    box-shadow: orange;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    border: 0;
    outline: none;
    position: relative;
    background: transparent;
    color: white;
    border-radius: 25px;
}

.toggle-btn:hover {
    color: grey;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: orange;
    border-radius: 30px;
    transition: .5s;
}

.input-group-login {
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: o;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: orange;
    border: 0;
    outline: none;
    border-radius: 30px;
    transition: 0.3s;
}

.submit-btn:hover {
    color: grey;
    background: white;
}

.check-box {
    margin: 30px 10px 34px 0;
    color: white;
}

span {
    color: white;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 50px;
}

#login input {
    color: white;
    font-size: 15;
}